.hero{
  background-color: $yellow-color;
  background-image: url("../img/hero/car.png");
  background-repeat: no-repeat;
  background-size: 499px 300px;
  background-position: 1218px 180px;
  padding-top: 42px;

  &-wrapper{
    display: flex;
    align-items: flex-start;
  }
  &-content{
    margin-top: calc(37px + 63px);
    margin-right: 92px;
    max-width: 550px;
  }
  &-title{
    font-size: 70px;
    font-weight: 700;
    color: $black-90-color;
    margin-bottom: 6px;
  }
  &-subtitle{
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    color: $black-90-color;
    margin-bottom: 44px;
  }
  &-button{
    display: block;
    width: 100%;
    max-width: 304px;
    padding: 16px 95px;
    color: $white-90-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    background: $red-color;
    position: relative;
    z-index: 2;
    margin-bottom: 77px;
    &::after{
      content: '';
      position:absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      padding: 16px 95px;
      border: 2px solid $white-90-color;
      z-index: -1;

    }
  }
  &-features{
    &__list{
      display: flex;
    }
    &__item{
      display: flex;
    }
  }

}
.features-item{
  &_1{
    margin-right: 40px;
  }
  &_2{
    margin-right: 26px;
  }
}
.features-img{
  margin-right: 8px;
}
.mover{
  display: block;
}