.callback-form {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &__wrapper {
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    background-color: $white-color;
    width: 100%;
    max-width: 700px;
    transition: all 0.8s ease;
    position: fixed;
    &.active{
      top: 50%;
      left: 50%;
      padding-bottom: 20px;
      transform: translate(-50%,-50%);
      opacity: 1;
      visibility: visible;

    }
  }
  &__input{
    border: none;
    border-bottom: 1px solid $black-90-color;
    padding: 10px;
    &:focus{
      outline: none;
      border-bottom-color: lighten($black-90-color, 50%);
      &::placeholder{
        color: lighten($black-90-color, 50%);
      }


    }
    &::placeholder{
      color: $black-90-color;
    }
  }
  &__phone{
    width: 100%;
    margin-right: 30px;
  }

  &__submit {
    width: 100%;
    min-height: 40px;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
  }
  &__close{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    &:hover{
      cursor: pointer;
    }
    &::before, &::after{
      content: '';
      width: 100%;
      height: 2px;
      background-color: $white-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }


  }

}

.callback {
  &-content {
    padding: 20px;
    background-color: $yellow-color;
    text-align: center;
    margin-bottom: 40px;
  }
  &-block{
    display: flex;
  }


}
