.header{
  padding-top: 47px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &-container{
    display: flex;
    flex-wrap: wrap;
  }


  &-logo{
    display: inline-block;
    margin-right: 315px;
    line-height: 10px;
    align-self: flex-start;
  }
  &-menu{
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
    align-self: flex-start;
    &__item{
      margin-right: 47px;
      &:last-child{
        margin-right: 0;

      }
  }
    &__close{
      transition: all 0.8s ease;
      width: 40px;
      height: 40px;
      background-color: $red-color;
      opacity: 0;
      visibility: hidden;
      &.active{
        opacity: 1;
        visibility: visible;
      }
    }
}
}
.menu{
  &-container{
    display: flex;
    justify-content: space-between;
  }
  &__link{
    font-weight: 500;
    font-size: 18px;
    color: $black-90-color;
    &:hover{
      border-bottom:1px solid currentColor;
    }

  }
}
.number{
  color: $black-90-color;
  border-bottom: 1px solid currentColor;
  font-size: 24px;
  font-weight: 600;
  margin-left: auto;
  align-self: start;

}


