.park {
  padding-top: 40px;
  padding-bottom: 55px;

  &-wrapper {
    max-width: 1003px;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    margin-bottom: 15px;
  }

  &-subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: $black-90-color;
    margin-bottom: 70px;
  }

  &-tabs {
    max-width: 642px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-slide {
    display: grid;
    grid-template-columns: 1fr 641px;
    align-items: center;
  }

  &-text {
    &__wrapper {
      max-width: 250px;
      margin-bottom: 35px;
    }
    &__title{
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      color: $black-90-color;
      margin-bottom: 37px;
    }
    &__item{
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $black-90-color;
      margin-bottom: 28px;
      &:before{
        content: '';
        width: 13.65px;
        height: 14px;
        display: inline-block;
        background-image: url("../img/carpark/checkbox.svg");
        background-repeat: no-repeat;
        background-size: 13.35px 14px;
        margin-right: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-order__button{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: $black-90-color;
    display: inline-block;
    background-color: $yellow-color;
    padding: 13px 79px;
    transition: background-color 0.8s ease;
    &:hover{
      background-color: transparent;
      border: 1px solid $yellow-color;
    }
  }
}

.tab {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 25px 10px;
  }

  &-link {
    padding: 13px 45px;
    border: 1px solid $gray-color;
    transition: border-color 0.8s ease;
    color: $black-90-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    &:hover {
      border-color: $yellow-color;
      cursor: pointer;
    }

    &.active {
      border-color: $yellow-color;
    }
  }
}