@media screen and (max-width: 1700px) {
  .hero {
    background-image: none;

    &-wrapper {
      justify-content: space-between;
    }
  }
  .map {
    &-info {
      top: 20%;
      left: 14%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .burger {
    transition: all 0.8s ease;
    display: block;

  }
  .header {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $yellow-color;

    &-logo {
      margin: 0;
    }

    &-container {
      justify-content: space-between;
      align-items: center;
    }

    &-menu {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-right: 50px;


      &__item {
        margin-right: 0;
        margin-bottom: 30px;
      }

      &__link {
        display: block;
        padding: 10px;
        border-bottom: 1px solid $black-90-color;


      }
    }

    &-number {
      display: none;
    }
  }
  .menu-container {
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: all 0.4s ease;
    &.active{
      opacity: 1;
      visibility: visible;
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $yellow-color;

    }
  }
  .footer{
    &-container{
      grid-template-columns: 1fr;
    }

    &-link{
      display: block;
      margin-bottom: 15px;
    }
    &-wrapper{
      align-items: start;
    }
    &-number{
      align-self: start;
    }

  }
  .footer{
    &-container{
      justify-items: center;
    }
    &-section{
      &_1{
        text-align: center;
      }
    }
    &-logo{
      text-align: center;
    }
    &-link{
      text-align: center;
    }
    &-number{
      align-self: center;
    }
  }

}

@media screen and (max-width: 992px){
  .hero{
    &-wrapper{
      flex-direction: column;
      align-items: center;
    }
    &-content{
      margin-right: 0;
    }
    &-title{
      text-align: center;
    }
    &-mover{
      position: relative;
      top: -80px;
      z-index: -1;
    }
    &-features{
      &__list{
        display: none;
      }
    }
    &-button{
      position: absolute;
      bottom: 40px;
      left: 45%;
      transform: translateX(-45%);
      margin-bottom: 0;
      &::after{
        display: none;
      }
    }
  }

  .park{
    &-slide{
      grid-template-columns: repeat(auto-fill, minmax(641px, 1fr));
      justify-items: center;
    }
    &-text{
      order: 1;
      &__wrapper{
        display: none;
      }
    }
  }
  .order{
    &-form{
      grid-template-columns: 1fr;
      justify-items: stretch;
      &__input{
        max-width: 100%;
      }
      &__phone{
        margin: 0;
      }
      &__submit{
        max-width: 100%;
      }
      &-subwrapper{
        justify-content: center;
      }
    }
  }

}

@media screen and (max-width: 768px){
  .card{
    &-hide{
      display: none;
    }
    &-more{
      display: inline-block;
      &-wrapper{
        display: block;
      }
    }

  }
  .tab{
    &-link{
      border: none;
      &.active{
        font-weight: 700;
        border-bottom: 1px solid $yellow-color;
      }
    }
  }

  .park{
    &-slide{
      grid-template-columns: 1fr;
    }
  }

  .reviews{
    &-item{
      margin-bottom: 30px;
    }
    &-hide{
      display: none;
    }
  }
  .map{
    &-info{
      position: static;
    }
    &-social{
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .title{
    font-size: 20px;
    line-height: 24px;
  }
  .hero{
    &-title{
      font-size: 45px;
      line-height: 50px;
    }
    &-subtitle{
      font-size: 22px;
    }
  }
  .step{
    &-container{
      grid-template-columns: 1fr;
    }
    &-content{
      &__title{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
      &__descr{
        display: none;
      }
    }
  }
  .price{
    background-color: #F8FBFF;

    &-subtitle{
      display: none;
    }

  }
  .card{
    &-list{
      grid-template-columns: 1fr;
    }
    &-item{
      padding:40px 11px 0 11px;
    }
    &-title{
      font-size: 18px;
      line-height: 22px;
    }
  }
  .tab{
    &-list{
      grid-gap: 10px 10px;
    }
    &-link{
      font-size: 16px;
      line-height: 20px;
      padding: 0;

    }
  }
  .park{
    &-subtitle{
      display: none;
    }
  }
  .reviews{
    &-container{
      grid-template-columns: 1fr;
    }
    &-item{
      display: block;
      max-width: 303px;
    }
    &-author{
      font-size: 18px;
      line-height: 22px;
    }
    &-container{
      margin-bottom: 45px;
    }
    &-hide{
      display: none;
    }

  }
  .order{
    &-title{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    &-legend{
      font-size: 15px;
    }
  }
  .hide-mobile{
    display: none;
  }


  .callback{
    &-block{
      flex-direction: column;
    }
    &-form{
      &__close{
        width: 20px;
        height: 20px;
        right: 10px;
      }
      &__phone{
        padding-bottom: 10px;
        margin-bottom: 30px;
      }
    }
  }

}
@media screen and (max-width: 320px) {
  .hero{
    padding-top: 0;
    &-title{
      font-size: 28px;
      line-height: 37px;
    }
    &-subtitle{
      font-size: 18px;
      line-height: 22px;
    }
    &-button{
      max-width: 292px;
    }
  }
}