@import "normalize";
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100%;
}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;

}
.lock{
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 15px;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
  padding: 0;
}
ul, ul li{
  list-style: none;
}
.btn--reset{
  border: none;
  background-color: transparent;

}